body,html{
    width: 100%;
    margin: 0;
}

.maintitle{
    font-size: 2.5vw;
    font-weight: bold;
    color: greenyellow;
    font-family: 'Courgette', cursive;
    padding: 1.5vw 3vw 1.5vw 2vw;
    width: 50%;
    margin: 0;
}   

.topmenu{
    width: 100%;
    background-image: linear-gradient(to right,maroon,darkviolet);
}

.left_section{
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.right_section{
    width: 50%;
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menulink{
    float: right;
    font-size: 2.5vw;
    color: orange;
    text-decoration: none;
    padding: 1.5vw 2vw 1.5vw 2vw;
    overflow: hidden;
    margin: 0;
    font-weight: bold;
    height: 100%;
    font-family: 'Courgette', cursive;
}

.menulink:hover {
    background-color: seagreen;
}

.active{
    float: right;
    font-size: 2.5vw;
    color: orange;
    text-decoration: none;
    padding: 1.5vw 2vw 1.5vw 2vw;
    overflow: hidden;
    margin: 0;
    font-weight: bold;
    height: 100%;
    font-family: 'Courgette', cursive;
    background-color: rgb(24, 45, 136);
}

.eventsection{
    width: 100%;
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.eventsection > div{
    width: 41%;
    margin: 1% 3%;
    background-color: rgb(238, 230, 161);
    border: 0.5vw solid rgb(238, 230, 161);
    border-radius: 1.5vw;
}

.eventsection > div:hover{
    box-shadow: 0.5vw 0.5vw 0.5vw gray;
}

.field1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    text-align: center;
    color: blue;
}

.field2{
    font-family: 'Righteous',cursive;
    font-size: 2.3vw;
    padding: 0 0.8vw;
    font-weight: bold;
}

.plink{
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    color: green;
}

.vplink{
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    color: darkslateblue;
}