{% extends "blog/base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
    

<div class="container content-section px-0 py-0">
    
    <div class="bg-gray py-1 px-3">
        <p class="h5 mb-0 py-2"><img src="{{other_user.profile.image.url}}" alt="user" width="40" height="40" class="rounded-circle">&nbsp;&nbsp;{{other_user.username}}</p>
        <hr>
    </div>
    
      <!-- Chat Box-->
      <div id="chat-section" class="px-0">
        {% include 'chat/chat_section.html' %}
      </div>
      <div class="px-0">
        <!-- Typing area -->
        <form action="." method="POST" class="bg-light chat-form">
          <div class="input-group">
            {% csrf_token %}
            <input required id="chatfinp" name="body" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
            <div class="input-group-append">
              <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
      </div>
</div>
 




{% endblock %}