

    <div class=" py-5 px-4 chat-box bg-white">

      {% for chat in chats %}

        {% if chat.sender != request.user %}
        <!-- Sender Message-->
        <div class="media w-75 mb-3"><img src="{{other_user.profile.image.url}}" alt="user" width="40" height="40" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">{{chat.text}}</p>
            </div>
            <p class="small text-muted">{{chat.date}}</p>
          </div>
        </div>
        
        {% else %}

        <!-- Reciever Message-->
        <div class="media w-75 ml-auto mb-3">
          <div class="media-body">
            <div class="bg-primary rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-white">{{chat.text}}</p>
            </div>
            <p class="small text-muted">{{chat.date}}</p>
          </div>
        </div>
        
        {% endif %}

      {% endfor %}

    </div>  
    

