{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

{% if not all_friends %}
    <span class="container">You need to be friends wih someone to chat</span>
{% endif %}

<div class="col-md-8 m-auto">

    <!-- ALL CHATROOMS-->
    <div class="px-0">
        <div class="bg-white">

        <div class="">
            <div class="list-group rounded-0">

            {% for friend in all_friends %}

            <a href="{% url 'room-choice' friend.pk %}" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                <div class="media"><img src="{{friend.profile.image.url}}" alt="room" width="50" height="50" class="rounded-circle">
                <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                    <h6 class="mb-0">{{friend}}</h6><small class="small font-weight-bold"></small>
                    </div>
                    <p class="font-italic text-muted mb-0 text-small">Here, you can chat with {{friend}}.</p>
                </div>
                </div>
            </a>

            {% endfor %}

            </div>
        </div>
        </div>
    </div>

</div>

<br>

<!-- SIDEBAR -->
<!-- <div class="col-md-4">
    <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class="text-muted">You can put any information here you'd like.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
        </p>
    </div>
</div>   -->

{% endblock %}