@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background: #f7f7f7;
    color: #333333;
    margin-top: 5rem;
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background: #6633FF;
    /* box-shadow: 0 0 6px rgba(0,0,0,0.3); */
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
    font-family:'Poppins';
    font-weight: 100;
    margin: 0px 6px;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .site-header .navbar-nav .nav-link:visited {
    color: rgba(255, 255, 255, 0.836);
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.836);
  }
  
  .site-header .navbar-nav .nav-link:active {
    color: rgba(255, 255, 255, 0.836);
  }
  
  .article-title {
    color: #444444;
    font-family: 'poppins';
    font-weight: 600;
  }
  
  a.article-title:hover {
    color: #1466ff;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 170px;
    width:  170px;
    margin: 20px;
    padding: 5px;
    margin-bottom: 0px;
    transform: translate(-20px,0px);
    border: 5px solid #ebebeb;

  }


  .online-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:#07dd00;
    border: 3px solid white;
    bottom: 0;
    right: 10px;
    position: absolute;
  }
  .offline-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:#6e6e6e;
    border: 3px solid white;
    bottom: 0;
    right: 10px;
    position: absolute;
  }

  .img-cont{
    height: 170px;
    width:  170px;
    position: relative;
  }

  .img-cont2{
    height: 55px;
    width:  55px;
    position: relative;
  }

  .img-cont3{
    height: 78px;
    width:  78px;
    position: relative;
  }

  .online-circle3 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#07dd00;
    border: 3px solid white;
    bottom: -16px;
    right: 2px;
    position: absolute;
  }

  .offline-circle3 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#6e6e6e;
    border: 3px solid white;
    bottom: -16px;
    right: 2px;
    position: absolute;
  }

  .online-circle2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#07dd00;
    border: 3px solid white;
    bottom: 0;
    right: 6px;
    position: absolute;
  }

  .offline-circle2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#6e6e6e;
    border: 3px solid white;
    bottom: 0;
    right: 6px;
    position: absolute;
  }

  .online-circle4 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#07dd00;
    border: 3px solid white;
    bottom: 10px;
    right: 10px;
    position: absolute;
  }

  .offline-circle4 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#6e6e6e;
    border: 3px solid white;
    bottom: 10px;
    right: 10px;
    position: absolute;
  }

  .account-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .account-heading {
    font-size: 2.5rem;
  }



#searchbar form{
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  padding: 3px 15px;
  background-color: transparent;
  border: 1px solid  #e4e4e4;
  margin-right: 10px;
}
#searchbar form input::placeholder{
  color: #fff;
  font-size: 14px;
}

@media only screen and (max-width: 991px){
  #searchbar form{
    border-radius: 0;
    margin: 12px 10px 10px 0px;
  }
}

#searchbar form input{
  border: none;
  outline: none;
  color:  #fff;
  font-size: 15px;
  flex: 1;
  background-color:transparent;
}
.search-btn{
  color:#fff;
  border: none;
  width: 25px;
  padding-left: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.829);
  outline: none;
  background-color: transparent;
}

.search-btn i{
  font-size: 16px;
}


.btnhrt i{
  font-size: 22px;
  color: rgb(255, 0, 0);
}

.btncmt i{
  font-size: 22px;
  color: rgb(0, 84, 241);
}


.btn{
  border-radius: 0px;
  padding: 8px 15px;
  font-size: 14px;
}

.btn-warning{
  background-color: rgb(255, 187, 0);
  color: rgb(0, 0, 0);
}

.btn-danger{
  background-color: rgb(255, 20, 20);
  color: rgb(255, 255, 255);
}

.btnhrt{
  padding: 0;
}

.btncmt{
  padding: 0;
}


.btnsave{
  
  font-size: 24px;
  padding: 0;
  color: rgb(255, 210, 60);
}
.btnsave:hover{
  color: rgb(255, 210, 60);
  cursor: pointer;
}

.btnedit{

  font-size: 22px;
  padding: 0;
  color: rgb(118, 60, 255);
}

.btndel{

  font-size: 22px;
  padding: 0;
  color: rgb(255, 68, 68);
}

.custom-txt{
  width: 100%;
}


.messages-box,
.chat-box {
  height: 58vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: rgb(212, 212, 212);
}


.notify-badge{
  position: absolute;
  right:-10px;
  bottom:3px;
  background: white;
  box-shadow: 0px 0px 5px 0.3px;
  text-align: center;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  color:rgb(128, 128, 128);
  padding:5px 10px;
  font-size:20px;
}