{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>About page</h1>
        <br>
        <p> Swinger Lifestyle friendly group for the Cleveland Tennessee and surrounding areas.  With monthly house parties for optimal socializing!  This is a Swingers Club designed for couples to interact with other couples.</p>
        <hr color=#F800B1>
        <p> If you show up at the door without your partner, you will be turned away unless you have been invited personally by Mona. We already know the few select singles that may attend the party. No Hall Passes!! There will be no exceptions!!</p>
        <hr color=#F800B1>
        <p> <b>Monthly Party Suggested Door Donations</b> (subject to change)</p>
        <li>$40.00 For Couples.</li>
        <li>$20.00 For Invited Females.</li>
        <li>$60.00 For Invited Males.</li><br>
        <p> <b>Room Rates</b> (they book fast)</p>
        <li>$40.00</li><br>
        <p> <b>Air Mattress Rates</b> (limited space)</p>
        <li>$10.00</li><br>
        <p> All attendees will pay at the entrance and get a wrist band as soon as you arrive.  Please bring exact change.</p>
        <hr color=#F800B1>
        <p>
            This site contains adult material, nudity, sexual content, and graphic language.
            This site does not contain sexually explicit content as defined in 18 U.S.C. 2256.
            Disclaimer: You must be over 21 to enter where applicable by law
        </p>
        {% if user.profile.verified %}
            <hr color=#F800B1>
            <p><b>Party Address:</b> 3830 Westview Dr. NE, Cleveland, TN 37312</p>
            <p>B.Y.O.B. and snacks to share and to keep everyone satiated for the evening. Additional party amenities include three playrooms, glory hole, and massage table along with all the accessories needed for your comfort and protection.</p>
        {% endif %}

        <hr color=#F800B1>
        <p>Made with &#128150; by Andy Arp based on work from Ronik Bhattacharjee &#9996;</p>
    </div>
</div>

{% endblock %}
