{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>About page</h1>
        <br>
        <p>
            Swinger Lifestyle friendly group for the Cleveland Tennessee and surrounding areas.
            With monthly house parties for optimal socializing!
            This is a Swingers Club designed for couples to interact with other couples.
        </p>
        <p>Made with &#128150; by Andy Arp based on work from Ronik Bhattacharjee &#9996;</p>
    </div>
</div>


{% endblock %}