{% extends "blog/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="col-md-8">

    {% for post in posts %}

    <article class="content-section" style="overflow: auto; ">
      <div class="media">
          <img class="rounded-circle article-img " src="{{post.author.profile.image.url}}" alt="image">
          <div class="media-body">
              <p class="mb-0">
                <a class="mr-2 h4" href="{% url 'profile-detail-view' post.author.pk %}">{{ post.author }}</a>
              </p>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y-h:i A" }}</small>
          </div>
      </div>
      <hr>
      <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
      <hr>
      <p class="article-content">{{ post.content|safe|linebreaks|truncatewords_html:"20" }}<a href="{% url 'post-detail' post.id %}">[Read full post]</a></p>
    </article>

    {% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
      {% endif %}

    {% endif %}

</div>

<!-- SIDEBAR -->
<div class="col-md-4">
  <div class="content-section" style="border-top: 4px solid red;">
      <h4>Recent Posts</h4>
      <br>
      <!-- <p class="text-muted">You can put any information here you'd like. -->
          <ul class="list-group">
              {% if posts.0 %}
                <a href="{% url 'post-detail' posts.0.pk %}"><li class="list-group-item list-group-item-light">{{ posts.0.title }}</li></a>
              {% endif %}
              {% if posts.1 %}
                <a href="{% url 'post-detail' posts.1.pk %}"><li class="list-group-item list-group-item-light">{{ posts.1.title }}</li></a>
              {% endif %}
              {% if posts.2 %}
                <a href="{% url 'post-detail' posts.2.pk %}"><li class="list-group-item list-group-item-light">{{ posts.2.title }}</li></a>
              {% endif %}
              {% if posts.3 %}
                <a href="{% url 'post-detail' posts.3.pk %}"><li class="list-group-item list-group-item-light">{{ posts.3.title }}</li></a>
              {% endif %}
              {% if posts.4 %}
                <a href="{% url 'post-detail' posts.4.pk %}"><li class="list-group-item list-group-item-light">{{ posts.4.title }}</li></a>
              {% endif %}
          </ul>
          <br>
  </div>

  <!-- PEOPLE YOU CAN FOLLOW -->

  <div class="content-section " style="border-top: 4px solid blue;">
    <h4>You can follow</h4>
    <br>
        <ul class="list-group">
          {% for user in random_users %}
            <a href="{% url 'profile-detail-view' user.pk %}"><li class="list-group-item list-group-item-light">{{ user.username }}</li></a>
          {% endfor %}
  
        </ul>
        <br>
  </div>

</div>  

{% endblock %}
{% block script %}
<script>

  var colors = ['#FB9797', '#FB84BD', '#EA84FB', '#FF6D3F', '#4270E7', 'green', 'blue'];
    $('.add-border').each(function() {
        $(this).css('border-top', "3px solid " + colors[Math.floor(Math.random() * colors.length)]);
    });

</script>
{% endblock %}

