{% extends "blog/base.html" %}

{% block title %}Liked Posts{% endblock %}

{% block content %}

<div class="col-md-8 m-auto allpl">

<div class="content-section">
  <h3>Liked Posts ({{liked_posts_count}})</h3>
</div>

{% if not liked_posts %}
  <p class="content-section">You have not liked any post</p>
{% endif %}

    {% for post in liked_posts %}

    <article class="content-section allp" style="overflow: auto;">
      <div class="media">
          <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}" alt="image">
          <div class="media-body">
              <p>
                <a class="mr-2 h4" href="{% url 'profile-detail-view' post.author.pk %}">{{ post.author }}</a>
              </p>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y-h:i A" }}</small>
          </div>
      </div>
      <hr>
      <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
      <hr>
      <p class="article-content">{{ post.content|safe|linebreaks|truncatewords_html:"20" }}<a href="{% url 'post-detail' post.id %}">[Read full post]</a></p>
    </article>

    {% endfor %}

    <!-- for infinite scroll -->
    {% if liked_posts.has_next %}
      <p class="pagination">
        <a class="next-page" href="?page={{ liked_posts.next_page_number }}">More...</a>
      </p>
    {% endif %}

    <!-- {% comment %}

    {% if posts.has_other_pages %}

      {% if posts.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{posts.previous_page_number}}">Previous</a>
      {% endif %}

      {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
          <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{posts.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{posts.paginator.num_pages}}">Last</a>
      {% endif %}

    {% endif %}

    {% endcomment %} -->

</div>

<!-- SIDEBAR
<div class="col-md-4">
  <div class="content-section">
      <h3>Our Sidebar</h3>
      <p class="text-muted">You can put any information here you'd like.
          <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
          </ul>
      </p>
  </div>
</div>   -->

{% endblock %}

{% block script %}
<!-- for infinite scroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
<script>
  jQuery(function ($) {
      var $list = $('.allpl');
      $list.jscroll({
          loadingHtml: '<div class="text-center">' +
              '<img src="" alt="Loading" />' +
              '</div>',
          padding: 100,
          pagingSelector: '.pagination',
          nextSelector: 'a.next-page:last',
          contentSelector: '.allp,.pagination'
      });
  });
</script>
{% endblock script %}