{% extends "blog/base.html" %}
{% load humanize %}

{% block title %}Notifications{% endblock %}

{% block content %}

{% if notifications|length == 0 %}
    <span class="content-section container">No Notifications</span>
{% endif %}

<div class="col-md-8 m-auto">


{% for notification in notifications %}
    <div class="card">
        <div class="card-body">
            <img class="rounded-circle article-img" src="{{notification.sender.profile.image.url}}" alt="image">
            <span class="card-title h4"><a href="{% url 'profile-detail-view' notification.sender.id %}" >{{notification.sender}}</a></span>
            <span class="text-muted float-right small">{{notification.date|naturaltime}}</span>
            <br><br>
            {% if notification.notification_type == 1 %}
                <p class="card-text"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;Liked your post "<a href="{% url 'post-detail' notification.post.id %}" >{{notification.post}}</a>"</p>
            {% elif notification.notification_type == 2 %}
                <p class="card-text"><i class="fas fa-user-friends"></i>&nbsp;&nbsp;Started following you</p>
            {% elif notification.notification_type == 3 %}
                <p class="card-text"><i class="far fa-comment-dots"></i>&nbsp;&nbsp;Commented "{{notification.text_preview}}" on your post "<a href="{% url 'post-detail' notification.post.id %}" >{{notification.post}}</a>"</p>
            {% elif notification.notification_type == 4 %}
                <p class="card-text"><i class="fas fa-reply"></i>&nbsp;&nbsp;Replied "{{notification.text_preview}}" to a comment on your post "<a href="{% url 'post-detail' notification.post.id %}" >{{notification.post}}</a>"</p>
            {% endif %}
        </div>
    </div>
    <br>
{% endfor %}

<br><br>

</div>


{% endblock %}