{% extends 'videocall/main.html' %}
{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'blog/images/microphone.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'blog/images/video.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'blog/images/leave.svg' %}" />
        </div>
    </section>
</main>


<script type="text/javascript" src="{% static 'blog/js/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/streams.js' %}" ></script>
{% endblock content %}