{% extends "blog/base.html" %}

{% block title %}User profile{% endblock %}

{% block content %}


<div class="card" style="width: 100%">
    <div class="account-img-container">
        <div class="img-cont">
            <img class="rounded-circle account-img" src="{{object.user.profile.image.url}}" alt="image">
            {% if object.user.profile.is_online %}
                <div class="online-circle"></div>
            {% else %}
                <div class="offline-circle"></div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <hr>
        <h4 class="card-title text-center">{{object.user.first_name}} {{object.user.last_name}} [{{object.user.username}}]</h4>
        <p class="card-text text-center text-muted">{{object.user.email}}</p>
        <p class="card-text text-center text-muted">{{object.user.profile.bio}}</p>

        <div class="text-center">
            {% if object.user != user %}
                {% if follow %}
                    <form action="{% url 'follow-unfollow-view' %}" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{object.pk}}>
                        <button type="submit" class="btn btn-danger mb-2">Unfollow</button>
                    </form>
                {% else %}
                    <form action="{% url 'follow-unfollow-view' %}" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{object.pk}}>
                        <button type="submit" class="btn btn-primary mb-2">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        <div class="m-t-10 p-20 text-center">
            <div class="row">
                <div class="col-4">
                    <span class="h6">Posts</span>
                    <p><a class="mr-2" href="{% url 'user-posts' object.user %}">{{object.profile_posts.count}}</a></p>
                </div>
                <div class="col-4">
                    <span class="h6">Followers</span>
                    <p>{{object.user.following.count}}</p>
                </div>
                <div class="col-4">
                    <span class="h6">Following</span>
                    <p>{{object.user.profile.following.count}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="content-section">
    <h3>Posts by {{object.user}} ...</h3>
    {% for post in object.profile_posts %}
        <hr>
        <div>
            <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
        </div>
    {% endfor %}
</div>

{% endblock %}