<html>
    <body>
        <p>Hey {{ username }}!</p>
        <p>You just created a new CSCTN account: {{ profile_url }}</p>
        <p>Now, you can enjoy all the benefits of membership!</p>
        <ul>
            <li>Posting</li>
            <li>Image sharing</li>
            <li>Private Messages/Chats</li>
            <li>And more to come!</li>
        </ul>
        <p>As always, feel free to reach out if you ever need anything!</p>
        <p>~Cleveland Social Club</p>
        <p><a href="http://csctn.net">Cleveland Social Club</a></p>
    </body>
</html>