{% extends "base.html" %}
{% load static %}
{% block title %}Explore Events{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'ebexplore_style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block content %}
    <div class="eventsection">
        {% for event in explst%}
        <div>
        <h5 class="field1">{{event.event_name}}</h5>
        <h6 class="field2">FROM: {{event.event_start}}</h6>
        <h6 class="field2">TO: {{event.event_end}}</h6>
        <h6 class="field2">HOST: {{event.host_name}}</h6>
        <h6 class="field2">DEADLINE: {{event.registration_deadline}}</h6>
        <img src="{{event.event_poster}}" width="450" height="600">
        <h6 class="field1"><a href="{{event.event_poster}}" title="View poster for this event" class="vplink">View Poster</a></h6>
        {% if user.is_authenticated and event.registration_deadline >= curr_dt %}
            <h6 class="field1"><a href="{% url 'event_manager_home:participate' uid event.event_id%}" class="plink">Participate</a></h6><br>
        {% endif %}
        </div>
        {% endfor %}
    </div>    
{% endblock %}