{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ebpropage_style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="topmenu">
        <div class="left_section">
            <p class="maintitle">EventBuddy</p>
        </div> 
        <div class="right_section">
            {% if uid == ''%}
            <a href="/signin" class="menulink" title="Sign in to your account">Sign In</a>
            {% endif %}
            {% if uid != ''%}
            <a href="{% url 'viewprofile' uid%}" class="active" title="Profile">Profile</a>
            {% endif %}
            <a href="#" class="menulink" title="About Us">About Us</a>
            {% if uid != ''%}
            <a href="{% url 'explore' uid%}" class="menulink" title="Explore trending events">Explore</a>
            {% endif %}
            {% if uid == ''%}
            <a href="/explore" class="menulink" title="Explore trending events">Explore</a>
            {% endif %}
            {% if uid == ''%}
            <a href="/" class="menulink" title="Home">Home</a>
            {% endif %}
            {% if uid != ''%}
            <a href="{% url 'home' uid%}" class="menulink" title="Home">Home</a>
            {% endif %}
        </div>
    </div>
    <h1 class="nameofuser">{{uname}}</h1>
    <h1 class="mailofuser">{{umail}}</h1>
    <a href="{% url 'changename' uid%}" class="chgname" title="Change your name">Change your name</a>
    <a href="{% url 'changepassword' uid%}" class="chgname" title="Change your password">Change password</a>
</body>
</html>